.header-section {
    position: relative;
}

.header-menu {
    left: 0;
    top: 0px;

    letter-spacing: 1px;
    text-transform: uppercase;
}

li {
    list-style-type: none;
    margin: 40px;
}

#header-text {
    font-size: 15vw;
    margin-top: -20%;
    margin-bottom: 30%;
    margin-left: 25%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;

    transform: translate(0, 600px)
}