*, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }

  .bumper {
    text-align: center;
    padding: 128px 16px;
    background-color: #efefef;
  }
  
  .container {
    padding-top: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  .space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .cards {
    position: relative;
    height: 100%;
    padding: 0 0 0 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sample-card {
    position: relative;
    height: 70vh;
    width: 70vw;
    background-color: #2225;
    margin-right: 75px;
    flex-shrink: 0;
    border-radius: 15px;
  }

  .picture-container {
    text-align: center;
  }

  .picture {
    /* Set rules to fill background */
      border-radius: 10px;

			max-height: 400px;
      max-width: 400px;

      /* Set up proportionate scaling */
      width: auto;
      height: auto;

      object-fit: cover;

      /* Set up positioning */
      position: relative;
      top: 10vh;
  }

  .title {
    font-size: 3vw;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    padding-bottom: 100px;
    padding-left: 100px;
    color: white;

  }

  .subtitle {
    color: white;
    font-size: 2vw;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    padding-bottom: 60px;
    padding-left: 120px;
  }