*, *::before, *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  
  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .bumper {
    text-align: center;
    padding: 128px 16px;
    background-color: #efefef;
  }
  
  .container {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
  
  .space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .cards {
    position: relative;
    height: 100%;
    padding: 0 0 0 150px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sample-card {
    position: relative;
    height: 70vh;
    width: 100vw;
    background-color: #111f30;
    margin-right: 75px;
    flex-shrink: 0;
  }