.bottom-panel-container {
    position: fixed;
    background-color: #2229;
    width: 95%;
    height: 15%;
    bottom: 10px;
    right: 2%;

    display: flex;
    justify-content: center;

    border-radius: 15px;
}

.side-panel-container {
    position: fixed;
    background-color: #2225;
    width: 20%;
    height: 80%;
    top: 10px;
    left: 10px;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
}
.side-panel-container * {
    padding: 5%;
}

img {
    max-height: 100px;
    max-width: 100px;
}

.error-panel {
    background-color: #f005;
    border-radius: 15px;
    margin: 10px;
}

[hidden] {
    opacity: 0;
}